#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* .app-container.has-results {
  justify-content: flex-start; /* shift to top when results appear */
  /* padding-top: 2rem;
} */ */

.app-header {
  flex-shrink: 0;                
  padding-top: 2rem;
}

.app-main {
  flex: 1;                   
  width: 100%;
  max-width: 400px;
  margin-top: -2rem;
  /* overflow: hidden; */             
}

.center-heading {
  font-size: 5rem;
  text-align: center;
  margin-top: 12rem;
  transition: transform 200ms ease;
  transform-origin: center;
  /* transform: translateY(-10rem); */
}

.center-heading:hover {
  transform: scale(1.1);
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.search-input {
  width: 93%;
  padding: 0.75rem;
  font-size: 1.1rem;
}

.controls {
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
}

.model-selector {
  width: 80%
}

.results-container {
  position: relative;
  top: 10%;

  max-height: 40vh;
  overflow-y: auto;

  padding: 1rem;
  border-radius: 8px;

  background-color: #1f2933;
  border: 1px solid #374151;

  z-index: 10;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
